{% extends 'base.html' %}
{% block title_block %}Login{% endblock %}
{% block content_block %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <p>
            {% for err in form.non_field_errors %}
                {{ err }}
            {% endfor %}
        </p>
    {% endif %}
    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <p>
                    {% for err in field.errors %}
                        {{ err }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Submit" /> 
</form>
{% endblock %}
